@font-face {
  font-family: 'Caracoltv';
  src: url('./fonts/Caracoltv-Medium.woff') format('woff2'), url('./fonts/Caracoltv-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}
body > header,
#company,
#trust,
#pride {
  margin-left: 100px;
}
.carousel-indicators {
  margin-left: 21%;
  margin-bottom: 30px;
  justify-content: left;
}
.carousel-indicators li {
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-clip: none;
  border-top: none;
  border-bottom: none;
  margin-right: 70px;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
a {
  color: inherit;
}
span {
  font-size: 13px;
}
header {
  min-height: 800px;
  background: #292929;
  height: 100vh;
  position: relative;
}
header .row {
  margin-right: 0;
}
.btn {
  width: 166px;
  background: #C4C4C4;
  border-radius: 0;
  font-weight: bold;
  font-size: 7.72881px;
  line-height: 9px;
  text-transform: uppercase;
  padding: 13px 0;
  cursor: pointer;
}
.carousel-item img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.contacts {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: #1E1E1E;
  max-width: 100px;
}
.contacts ul {
  padding-left: 51px;
}
.contacts li {
  width: 15px;
  height: 15px;
  list-style-type: none;
  margin-bottom: 32px;
}
.contacts .hidden_contact {
  height: 40%;
}
.contacts__tel {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  transform: rotate(-90deg);
  display: block;
  width: 147px;
  margin-left: -7px;
}
.contacts__tel span {
  font-weight: 200;
  font-size: 8px;
}
.header__consultation {
  padding-left: 300px;
  padding-top: 32px;
}
.header__consultation h1 {
  font-family: 'Caracoltv';
  font-size: 100px;
  line-height: 90px;
  margin-top: 132px;
}
.header__consultation p {
  font-size: 15px;
  line-height: 28px;
  color: #00B2FF;
  margin-bottom: 21px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 23px 0;
  padding-right: 100px;
}
.navbar {
  position: absolute;
  top: 34px;
  right: 15px;
  z-index: 5;
  width: 55.48%;
  background: #1E1E1E;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  padding-left: 65px;
}
.navbar .nav-link {
  font-weight: bold;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.part_carousel {
  position: relative;
}
.blog {
  background: #1E1E1E;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.25);
  padding-left: 30px;
  padding-bottom: 20px;
  width: 558px;
  position: absolute;
  margin-left: 22.4%;
  bottom: -26px;
}
.blog .blog_articles {
  position: absolute;
  bottom: 77px;
  left: -50px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #9A9A9A;
  transform: rotate(-90deg);
  display: block;
}
.blog h3 {
  margin-top: 19px;
  font-size: 18px;
  line-height: 22px;
}
.blog ul {
  margin-top: 25px;
  padding-left: 48px;
}
.blog li {
  margin-bottom: 29px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #E5E5E5;
}
.blog li span {
  font-size: 8px;
  margin-left: 25px;
}
.photo__report {
  position: absolute;
  left: 64px;
  bottom: 106px;
  text-transform: uppercase;
  display: inline-flex;
}
.photo__report h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 2px;
}
.photo__report p {
  font-size: 12px;
}
.photo__report .photo__report_play {
  width: 41px;
  height: 41px;
  background: url(./img/play.png) no-repeat;
  margin-left: 38px;
  margin-top: 8px;
  border: none;
}
#pride {
  margin-bottom: 104px;
}
#pride .pride_section {
  position: relative;
}
#pride h3 {
  color: #000000;
  margin-top: 117px;
  margin-bottom: 70px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}
#pride .pride_wrapper {
  height: 791px;
  overflow-y: scroll;
}
#pride .pride_wrapper_shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px -25px 48px 61px #F0F0F0;
}
#pride .pride_case {
  margin-bottom: 14px;
}
#pride .agency_tour {
  background: url(./img/case1.png) no-repeat;
}
#pride .cash {
  background: url(./img/case2.png) no-repeat;
}
#pride .case {
  margin-bottom: 10px;
}
#pride .case div {
  height: 412px;
}
#pride .case p {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding-left: 43px;
  padding-top: 32px;
  text-transform: uppercase;
}
#pride .case h3 {
  font-family: Caracoltv;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 62px;
  color: #FFFFFF;
  padding-left: 100px;
  margin-top: 103px;
  text-transform: none;
}
#company {
  padding-top: 58px;
  padding-bottom: 135px;
  background: #292929;
}
#company h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 115px;
}
#company p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
#company .btn__company {
  margin-top: 31px;
  background: #000000;
  color: #FFFFFF;
}
#company .company_background {
  min-width: 665px;
  height: 473px;
  background: url(./img/background_company.jpg) no-repeat;
  position: relative;
}
#company .person_block {
  position: absolute;
  top: -47px;
  left: -35px;
}
#company .person_block div {
  display: inline-block;
}
#company .person_block > p {
  margin-top: 15px;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
}
#company .person {
  display: flex;
  align-items: stretch;
  margin-right: 30px;
}
#company .person .person_info,
#company .person .person_photo {
  display: inline-block;
}
#company .person_photo {
  width: 166px;
  height: 349px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
#company .person_info {
  background: #1E1E1E;
  margin-top: 5px;
  margin-left: 5px;
}
#company .person_info h3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 25px;
}
#company .person_info p {
  font-size: 9px;
  line-height: 11px;
  margin-left: 30px;
  margin-right: 45px;
}
#company .person .alex {
  display: none;
}
